@import '../../../../../shared/application/theme/colors.scss';

.container-member-selector {
	@include centered-flex;
	justify-content: space-evenly;
	flex: 1;
	gap: 32px;
	width: 100%;
	margin-top: 4rem;

	> .item-member {
		font-size: 1.5rem;
		height: 32px;
		cursor: pointer;
		opacity: 0.4;
		transition: all 0.2s ease-in-out;
		&.selected,
		&:hover {
			opacity: 1;
		}
	}

	@include medium-view {
		justify-content: center;
	}

	@include large-view {
		justify-content: flex-start;
	}
}
