@import 'mixins';

$primary: #0b0d17;
$secondary: #d0d6f9;
$white: #ffffff;

$fontColor: $white;
$bgBody: $primary;

@include key-value-color('color', 'color');
@include key-value-color('bg', 'background-color');
@include key-value-color('border', 'border-color');
