name: Node.js CI

on:
  pull_request:
    branches:
      - develop
      - master
      - "hotfix/**"
      - "feature/**"
      - "release/**"

jobs:
  build:

    runs-on: ubuntu-latest
    env:
        CI: false
    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: yarn install
        env:
            NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
            NPM_TOKEN: ${{secrets.NPM_TOKEN}}

      - name: Install Eslint
        run: yarn global add eslint
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}

      - name: Run ESLint
        run: eslint . --ext .js,.jsx,.ts,.tsx

      - name: Validate all commits from PR
        run: npx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose

      - name: Run tests
        run: yarn run test --coverage --no-watch --watch=false --watchAll=false --no-watchman --detectOpenHandles --forceExit --passWithNoTests
        env:
            NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
            NPM_TOKEN: ${{secrets.NPM_TOKEN}}

